.root{
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14px;
}

.weekButton{
	-fx-text-fill: #000066;
	-fx-background-color: #CCFFFF;
	-fx-border-color: lightgray;
    -fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}

.weekButton:hover{
	-fx-background-color: #009999;
	-fx-border-color: darkgray;
}

.weekButton:pressed{
	-fx-background-color: #006666;
	-fx-border-color: black;
}

.weekDayHeaderCell{
	-fx-text-fill: #000066;
	-fx-alignment: center;
	-fx-background-color: #AAAAFF;
	-fx-border-color: lightgray;
    -fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}

.weekHeaderCell{
	-fx-text-fill: #000066;
	-fx-alignment: center;
	-fx-background-color: #AAAAFF;
	-fx-border-color: lightgray;
    -fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}

.dayCell{
	-fx-background-color: white;
	-fx-border-color: black;
    -fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}

.date{
	-fx-text-fill: #000066;
	-fx-font-size: 12px;
	-fx-border-color: black;
    -fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px 3px 0px 0px;	
}

.eventsScrollPaneToday{
	-fx-background-color: #FFFF66;
}

.todayCell{
	-fx-background-color: #FFFF66;
	-fx-border-color: black;
    -fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;	
}

.todayLabel{
	-fx-text-fill: black;
	-fx-font-size: 12px;
	-fx-background-color: #FFFF66;
	-fx-border-color: black;
    -fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px 3px 0px 0px;	
	-fx-padding: 0px 0px 1px 0px;
    -fx-border-insets: 0px 0px 1px 0px;
    -fx-background-insets: 0px 0px 1px 0px;	
}

.eventLabel{
	-fx-text-fill: #009999;
	-fx-font-size: 12px;
	-fx-border-color: #009999;
    -fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px 3px 0px 0px;	
	-fx-padding: 0px 0px 1px 0px;
    -fx-border-insets: 0px 0px 1px 0px;
    -fx-background-insets: 0px 0px 1px 0px;	
}

.eventLabelToday{
	-fx-text-fill: black;
	-fx-font-size: 12px;
	-fx-background-color: #FFFF66;
	-fx-border-color: black;
    -fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 3px 3px 0px 0px;	
	-fx-padding: 0px 0px 1px 0px;
    -fx-border-insets: 0px 0px 1px 0px;
    -fx-background-insets: 0px 0px 1px 0px;	
}